@model MangaVillage.Ordine

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row my-5">
        <div class="col-3">
            <h2 class="fst-italic mb-5">Ordine</h2>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IndirizzoConsegna)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IndirizzoConsegna)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataOrdine)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataOrdine)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Note)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Utente.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Utente.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Pagato)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pagato)
                </dd>
                <a class="btn btn-success mt-1 fst-italic" href="@Url.Action("Index")">Lista Ordini</a>
            </dl>
        </div>
        <div class="col-9" style="text-align:start !important">
            <h2 class="fst-italic mb-5">Dettagli Ordine</h2>
            <div class="row">
                @if (Model.DettaglioOrdine != null && Model.DettaglioOrdine.Count > 0)
                {
                    foreach (var articolo in Model.DettaglioOrdine)
                    {
                        <div class="col-3 m-4">
                            <div class="d-flex">
                                @if (articolo.Manga != null && articolo.Manga.Copertina != null)
                                {
                                    <img src="@Url.Content("~/Content/Img/" + articolo.Manga.Copertina)" class="border rounded-1" alt="model.Titolo" width="180" height="260" />
                                }
                                <div class="d-flex flex-column ms-1 justify-content-center">
                                    @if (articolo.Manga != null && articolo.Manga.Titolo != null)
                                    {
                                        <div>
                                            <dt>
                                                @Html.DisplayNameFor(model => articolo.Manga.Titolo)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => articolo.Manga.Titolo)
                                            </dd>
                                        </div>
                                    }
                                    <div>
                                        <dt>
                                            @Html.DisplayNameFor(model => articolo.NumeroVolume)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => articolo.NumeroVolume)
                                        </dd>
                                    </div>
                                    <div>
                                        <dt>
                                            @Html.DisplayNameFor(model => articolo.Quantita)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => articolo.Quantita)
                                        </dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>