@model IEnumerable<MangaVillage.Ordine>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_Notification")

<h2 class="my-4">Ordini</h2>

<table class="table table-striped text-center middle">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndirizzoConsegna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pagato)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utente.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndirizzoConsegna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOrdine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagato)
            </td>
            <td>
                @Html.ActionLink("Dettagli", "Details", new { id = item.ID }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }
</table>
