@model IEnumerable<MangaVillage.Manga>

@{
    ViewBag.Title = "Biblioteca";
}

<h2 class="text-center mb-3">Biblioteca</h2> @*possibilita' di fare card con poche info, il resto tutto in details*@
<div class="d-flex justify-content-between align-items-center mb-5">
    <h4>Ordina per:</h4>
    <div>
        @*<i class="bi bi-sort-alpha-down "></i>@Html.ActionLink("Ordina per titolo", "Biblioteca", new { sortOrder = "Titolo" }, new { @class = "btn btn-primary" })*@
        @*@Html.ActionLink("Ordina per titolo discendente", "Biblioteca", new { sortOrder = "TitoloDesc" }, new { @class = "btn btn-primary" })*@

        <a href="@Url.Action("Biblioteca", new { sortOrder = "Titolo" })" class="btn btn-primary">
            Titolo <i class="bi bi-sort-alpha-down fs-5"></i>
        </a>
        <a href="@Url.Action("Biblioteca", new { sortOrder = "TitoloDesc" })" class="btn btn-primary">
            Titolo Discendente <i class="bi bi-sort-alpha-up fs-5"></i>
        </a>

        @*@Html.ActionLink("Ordina per anno di pubblicazione", "Biblioteca", new { sortOrder = "Anno" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Ordina per anno di pubblicazione discendente", "Biblioteca", new { sortOrder = "AnnoDesc" }, new { @class = "btn btn-primary" })*@
        <a href="@Url.Action("Biblioteca", new { sortOrder = "Anno" })" class="btn btn-primary">
            Anno <i class="bi bi-sort-numeric-down fs-5"></i>
        </a>
        <a href="@Url.Action("Biblioteca", new { sortOrder = "AnnoDesc" })" class="btn btn-primary">
            Anno Discendente <i class="bi bi-sort-numeric-up fs-5"></i>
        </a>

        @*@Html.ActionLink("Manga in corso", "Biblioteca", new { sortOrder = "InCorso" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Manga completati", "Biblioteca", new { sortOrder = "Completato" }, new { @class = "btn btn-primary" })*@
        <a href="@Url.Action("Biblioteca", new { sortOrder = "InCorso" })" class="btn btn-primary">
            In corso <i class="bi bi-hourglass-split fs-5"></i>
        </a>
        <a href="@Url.Action("Biblioteca", new { sortOrder = "Completato" })" class="btn btn-primary">
            Completato <i class="bi bi-check-circle fs-5"></i>
        </a>
        @*@Html.ActionLink("Ricerca manga", "Ricerca", "Manga", new { @class = "btn btn-primary" })*@
        <a href="@Url.Action("Ricerca", "Manga")" class="btn btn-primary">
            Ricerca avanzata <i class="bi bi-search fs-5"></i>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-xxl-3">
                <div class="card mb-3">
                    <img src="@Url.Content("~/Content/Img/" + item.Copertina)" class="card-img-top position-relative" width="200px" height="440px" alt="@item.Titolo">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="card-title mb-0 me-2">@item.Titolo</h5>
                            <p class="card-text text-truncate mb-0">@item.Autore</p>
                        </div>
                        <p class="card-text position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger border">@item.AnnoUscita</p>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="card-text mb-0">@item.Nazionalita</p>
                            <p class="card-text mb-0">@item.StatoPubblicazione</p>
                        </div>
                        <p class="card-text text-truncate">@item.Trama</p>
                        <div class="text-center">
                            <a href="@Url.Action("Details", "Manga", new { id = item.ID })" class="btn btn-primary">Dettagli</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>