@model MangaVillage.Manga

@{
    ViewBag.Title = "Details";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Dettagli</h2>
    <div>
        <a href="@Url.Action("Biblioteca")" class="btn btn-primary">
            Torna alla Biblioteca <i class="bi bi-book fs-5"></i>
        </a>
        <a href="@Url.Action("Ricerca", "Manga")" class="btn btn-primary">
            Ricerca avanzata <i class="bi bi-search fs-5"></i>
        </a>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-4">
                <dt class="mb-2">
                    @Html.DisplayNameFor(model => model.Copertina)
                </dt>

                <dd>
                    <img src="@Url.Content("~/Content/Img/" + Model.Copertina)" class="border" alt="model.Titolo" width="360px" height="500px" />
                </dd>
            </div>
            <div class="col-8">
                <dt>
                    @Html.DisplayNameFor(model => model.Titolo)
                </dt>
                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Titolo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Autore)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Autore)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AnnoUscita)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.AnnoUscita)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoriaString)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.CategoriaString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GenereString)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.GenereString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nazionalita)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Nazionalita)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StatoPubblicazione)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.StatoPubblicazione)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Trama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Trama)
                </dd>
            </div>
        </div>
    </dl>
</div>
