@model MangaVillage.Manga
@using MangaVillage.Models

@{
    ViewBag.Title = "Details";
}
@Html.Partial("_Notification")

<div class="d-flex justify-content-between align-items-center mt-4">
    <h2>Dettagli</h2>
    <div>
        <a href="@Url.Action("Archivio")" class="btn btn-wg">
            Archivio <i class="bi bi-book fs-5"></i>
        </a>
        <a href="@Url.Action("Ricerca", "Manga")" class="btn btn-success">
            <i class="bi bi-search fs-5"></i>
        </a>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="text-end mt-2">
        @Html.ActionLink("Modifica", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" })
    </div>
}

<div class="container">
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-4">
                <dt class="mb-2">
                    @Html.DisplayNameFor(model => model.Copertina)
                </dt>

                <dd>
                    <img src="@Url.Content("~/Content/Img/" + Model.Copertina)" class="border rounded-1" alt="model.Titolo" width="380" height="540" />
                </dd>
            </div>
            <div class="col-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Titolo)
                </dt>
                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Titolo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Autore)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Autore)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AnnoUscita)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.AnnoUscita)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoriaString)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.CategoriaString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GenereString)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.GenereString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nazionalita)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Nazionalita)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StatoPubblicazione)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.StatoPubblicazione)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UltimoVolume)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.UltimoVolume)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Prezzo)
                </dt>

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Prezzo) €
                </dd>
            </div>
            <div class="col-4 text-center my-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4>Aggiungi al carrello:</h4>
                    using (Html.BeginForm("AggiungiArticolo", "Manga", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("IDMangaFk", Model.ID)
                        <div class="mb-3">
                            <label class="fw-bold" for="numeroVolume">Numero Volume:</label>
                            <input class="form-control mx-auto" type="number" min="1" max="@Model.UltimoVolume" id="numeroVolume" name="numeroVolume" value="1" />
                        </div>
                        <div class="mb-3">
                            <label class="fw-bold" for="quantita">Quantità:</label>
                            <input class="form-control mx-auto" type="number" min="1" id="quantita" name="quantita" value="1" />
                        </div>
                        <input class="btn btn-success" type="submit" value="Aggiungi al Carrello" />
                    }
                }
                else
                {
                    <p class="fs-4">
                        <a class="text-decoration-none fw-semibold" href="~/Utente/Login">Accedi</a> per acquistare manga
                    </p>
                }
            </div>

            <div class="col-12">
                <dt>
                    @Html.DisplayNameFor(model => model.Trama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Trama)
                </dd>
            </div>
        </div>
    </dl>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <p class="text-center display-6 mt-5">
        <a class="text-decoration-none fw-semibold" href="~/Utente/Login">Accedi</a> per lasciare una recensione
    </p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4>Aggiungi Recensione:</h4>
                @using (Html.BeginForm("AggiungiRecensione", "Manga", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("IDMangaFk", Model.ID)

                    <div class="mb-3">
                        <label class="fw-bold" for="voto">Voto:</label>
                        <input class="form-control mx-auto" type="number" min="1" max="10" id="voto" name="voto" />
                    </div>
                    <div class="mb-3">
                        <label class="fw-bold" for="descrizione">Descrizione:</label>
                        <input class="form-control mx-auto" type="text" id="descrizione" name="descrizione" />
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-success" type="submit" value="Aggiungi" />
                    </div>
                }
            </div>
            <div class="row chat rounded-3">
                @if (Model.Recensione != null && Model.Recensione.Count > 0)
                {
                    foreach (var recensione in Model.Recensione)
                    {
                        <div class="col-9 mx-auto">
                            <div class="bg-light my-2 rounded-3 w-75 right p-2 opacity">
                                <div class="mb-2">
                                    <img src="@Url.Content("~/Content/Avatar/" + recensione.Utente.Avatar)" class="border rounded-circle" alt="Avatar utente" width="60" height="60" style="object-fit: cover" />
                                    <p class="d-inline fs-5">@recensione.Utente.Username</p>
                                </div>
                                <div>
                                    <p class="m-0"><strong>Voto:</strong> @recensione.Voto</p>
                                    <p class="m-0"><strong>Descrizione:</strong> @recensione.Descrizione</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center bg-light my-4 rounded-3 w-50 mx-auto">
                        <p class="my-1">Nessuna recensione disponibile per questo manga.</p>
                    </div>
                }
            </div>
        </div>
    </div>
}


