@model IEnumerable<MangaVillage.Manga>

<h2>Ricerca Manga</h2>

<form action="@Url.Action("Ricerca")" method="post">
    <p>
        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" name="titolo" />
    </p>
    <p>
        <label for="autore">Autore:</label>
        <input type="text" id="autore" name="autore" />
    </p>
    <p>
        <label for="annoUscita">Anno di uscita:</label>
        <input type="number" id="annoUscita" name="annoUscita" />
    </p>
    <p>
        <label for="nazionalita">Nazionalità:</label>
        <input type="text" id="nazionalita" name="nazionalita" />
    </p>
    <p>
        <label for="statoPubblicazione">Stato di pubblicazione:</label>
        <input type="text" id="statoPubblicazione" name="statoPubblicazione" />
    </p>
    <p>
        <input type="submit" value="Ricerca" />
    </p>
</form>

<div>
    @Html.ActionLink("Torna alla Biblioteca", "Biblioteca")
</div>

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var manga in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-xxl-3">
                    <div class="card mb-3 postit">
                        <img src="@Url.Content("~/Content/Img/" + @manga.Copertina)" class="card-img-top rounded-2 position-relative" width="200" height="440" alt="@manga.Titolo">
                        <p class="card-text position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger border">@manga.AnnoUscita</p>
                        <div class="text-center">
                            <a href="@Url.Action("Details", "Manga", new { id = @manga.ID })" class="btn btn-primary position-absolute bottom-0 start-50 translate-middle badge rounded-pill border">Dettagli</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Nessun manga trovato.</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
