@model IEnumerable<MangaVillage.Manga>
@Html.Partial("_Notification")

<h2 class="text-center my-5 text-white shadow fst-italic">Ricerca Avanzata</h2>

<div class="container">
    <div class="row">
        <div class="col-3 text-white shadow">
            <form action="@Url.Action("Ricerca")" method="post">
                <div class="mb-2">
                    <label class="d-block fw-bold mb-2" for="titolo">Titolo:</label>
                    <input class="form-control" type="text" id="titolo" name="titolo" placeholder="Inserisci un titolo" />
                </div>
                <div class="mb-2">
                    <label class="d-block fw-bold mb-2" for="autore">Autore:</label>
                    <input class="form-control" type="text" id="autore" name="autore" placeholder="Inserisci un autore" />
                </div>
                <div class="mb-2">
                    <label class="d-block fw-bold mb-2" for="annoUscita">Anno di uscita:</label>
                    <input class="form-control" min="1970" max="2024" type="number" id="annoUscita" name="annoUscita" placeholder="Inserisci l'anno di uscita" />
                </div>
                <div class="mb-2">
                    <label class="d-block fw-bold mb-2" for="nazionalita">Nazionalità:</label>
                    <input class="form-control" type="text" id="nazionalita" name="nazionalita" placeholder="Inserisci una nazionalità" />
                </div>

                <div class="mb-3">
                    <label class="d-block fw-bold mb-2" for="statoPubblicazione">Stato di pubblicazione:</label>
                    <select class="form-control" id="statoPubblicazione" name="statoPubblicazione">
                        <option value="">Scegli un'opzione</option>
                        <option value="InCorso">In Corso</option>
                        <option value="Completato">Completato</option>
                    </select>
                </div>

                <div class="d-flex justify-content-between">
                    <a class="btn btn-success" href="@Url.Action("Archivio")">Archivio <i class="bi bi-book ms-1 fs-5"></i></a>
                    <input type="submit" class="btn btn-success" value="Cerca" />
                </div>
            </form>
        </div>

        @if (Model != null && Model.Any())
        {

            foreach (var manga in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-xxl-3">
                    <div class="card mb-3 postit">
                        <img src="@Url.Content("~/Content/Img/" + @manga.Copertina)" class="card-img-top rounded-2 position-relative" width="200" height="440" alt="@manga.Titolo">
                        <p class="card-text position-absolute top-0 start-50 translate-middle badge rounded-pill border bg-light text-black">@manga.AnnoUscita</p>
                        <div class="text-center">
                            <a href="@Url.Action("Details", "Manga", new { id = @manga.ID })" class="btn btn-success position-absolute bottom-0 start-50 translate-middle badge rounded-pill border fs-5">@manga.Titolo - Dettagli</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-9">
                <p class="text-center">Nessun manga trovato.</p>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
