<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="@ViewBag.Sfondo">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("MangaVillage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Lista Utenti", "Index", "Utente", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Lista Categorie", "Index", "Categoria", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Lista Generi", "Index", "Genere", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Lista Manga", "Index", "Manga", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Biblioteca", "Biblioteca", "Manga", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Recensioni", "Index", "Recensione", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Biblioteca", "Biblioteca", "Manga", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Utente", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="ms-auto">@Html.ActionLink("Logout", "Logout", "Utente", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-link">Benvenuto @User.Identity.Name</li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer class="text-white mt-3">
            <p>&copy; @DateTime.Now.Year - MangaVillage ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <section id="scripts">
        <script src="~/Scripts/frasiAlternate.js"></script>
    </section>
</body>
</html>
