@model IEnumerable<MangaVillage.DettaglioOrdine>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_Notification")

<h2 class="my-5 fst-italic text-center">Dettaglio Ordini</h2>

<table class="table table-striped text-center middle w-75 mx-auto">
    <tr>
        <th>
            Numero Ordine
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordine.Utente.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manga.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ordine.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordine.Utente.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manga.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
        </tr>
    }
</table>
