@model IEnumerable<MangaVillage.Foto>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between align-items-center my-5 w-75 mx-auto fst-italic">
    <h2 class="mb-0">Foto</h2>
    <a href="@Url.Action("Create")" class="btn btn-success">Aggiungi</a>
</div>

<table class="table w-75 mx-auto table-striped text-center middle">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manga.Titolo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content("~/Content/Foto/" + item.Nome)" class="border" alt="@item.Manga.Titolo" width="200" height="300" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manga.Titolo)
        </td>
        <td>
            @Html.ActionLink("Elimina", "Delete", new { id=item.ID }, new { @class = "btn btn-danger fst-italic" })
        </td>
    </tr>
}

</table>
