@model MangaVillage.Models.Recensione

@{
    ViewBag.Title = "Delete";
}

<div class="my-4">
    <h2>Elimina Recensione</h2>
    <h3>Sei sicuro di volere eliminare questa recensione?</h3>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manga.Titolo)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Manga.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utente.Username)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Utente.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voto)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Voto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-danger me-2" />
            <a class="btn btn-wg" href="@Url.Action("Index")">Lista Recensioni</a>
        </div>
    }
</div>
