@model IEnumerable<MangaVillage.Models.Recensione>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_Notification")

<h2 class="my-5 fst-italic text-center">Recensioni</h2>

<table class="table table-striped text-center middle">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manga.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manga.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utente.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.ActionLink("Elimina", "Delete", new { id = item.ID }, new { @class = "btn btn-danger fst-italic" })
            </td>
        </tr>
    }
</table>
