@model MangaVillage.Utente

@{
    ViewBag.Title = "Delete";
}
@Html.Partial("_Notification")

<div class="my-4">
    <h2>Elimina Utente</h2>
    <h3>Sei sicuro di volere eliminare questo utente?</h3>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Ruolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd class="mb-3">
            @if (Model.Avatar == null)
            {
                <img src="@Url.Content("~/Content/Avatar/default.jpeg")" class="border rounded-circle" alt="Avatar utente" width="100px" height="100px" style="object-fit: cover" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Avatar/" + Model.Avatar)" class="border rounded-circle" alt="Avatar utente" width="100px" height="100px" style="object-fit: cover" />
            }

            @*<img src="@Url.Content("~/Content/Avatar/" + Model.Avatar)" class="border rounded-circle" alt="Avatar utente" width="100px" height="100px" style="object-fit: cover" />*@
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-danger me-2" />
            <a class="btn btn-wg" href="@Url.Action("Index")">Lista Utenti</a>
        </div>
    }
</div>
